---
layout: none
permalink: /members/lidingyang.html
---
{% include header.html %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Li Dingyang</title>
  <style>
    body {
      font-family: system-ui, sans-serif;
      line-height: 1.6;
      margin: 2rem;
    }
    .profile-img {
      max-width: 180px;
      float: right;
      margin-left: 1rem;
      border-radius: 50%;
    }
    section {
      margin-bottom: 2rem;
      clear: both;
    }
    section h2 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 0.5rem;
    }
    ul {
      list-style: disc inside;
      margin: 0.5rem 0 0 1rem;
      padding: 0;
    }
  </style>
</head>
<body>

  <h1>Li Yiyun</h1>
  <img src="/assets/images/lidingyang.jpg" alt="Li Dingyang profile photo (Just imagine)" class="profile-img" />

  <section id="contact">
    <h2>Contact</h2>
    <p>Email: <a href="mailto:dingyangli@link.cuhk.edu.cn">dingyangli@link.cuhk.edu.cn</a></p>
  </section>

  <section id="education">
    <h2>Education</h2>
    <ul>
      <li>Ph.D. candidate in Biological Sciences, The Chinese University of Hong Kong, Shenzhen (2024.09–Present)</li>
      <li><strong>Master. in Bioinformatics</strong>, The Chinese University of Hong Kong, Shenzhen</li>
      <li><strong>B.Sc. in Bioinformatics</strong>, University of Soochow</li>
    </ul>
  </section>

  <section id="research-interests">
    <h2>Research Interests</h2>
    <ul>
      <li>Genomics and genetics</li>
      <li>Multi-omics</li>
      <li>Statistical genetics</li>
      <li>Machine Learning</li>
    </ul>
  </section>

  <section id="interests">
    <h2>Hobbies</h2>
    <ul>
      <li>Swimming</li>
      <li>Badminton</li>
      <li>Metaphysics</li>
    </ul>
  </section>

  <section id="publications">
    <h2>Publications</h2>
    <ul>
      <li><strong>Dingyang, Li.</strong>, et al. (2025). Imputation Disparities Driven by Recent Selection and Their Impact on Disease Risk Estimation in East and Southeast Asian Populations. <em>biorxiv</em>. <a href="https://www.biorxiv.org/content/10.1101/2025.04.03.646928v1">DOI</a></li>
      <li>Xiaoyu Zuo., Jinglu Zhao., Zipeng Liu., Yuxiao Yao.,  <strong>Dingyang, Li.</strong>, et al. (2025). Integrated genomic analysis of EDNRB common and rare variants in Hirschsprung disease. <em>Genes & Diseases</em>. <a href="https://www.sciencedirect.com/science/article/pii/S2352304225000844">DOI</a></li>
    </ul>
  </section>

</body>
</html>

{% include footer.html %}
