---
layout: none
permalink: /members/xuyuan.html
---
{% include header.html %}

  <h1>XU Yuan</h1>
  <img src="/assets/images/xuyuan1.jpg"
       alt="XU Yuan profile photo"
       class="profile-img" />

  <!-- Education -->
  <section id="education">
    <h2>Education</h2>
    <ul>
      <li>Undergraduate in Bioinformatics Program</li>
    </ul>
  </section>

  <!-- Research Interests -->
  <section id="research">
    <h2>Research Interests</h2>
    <ul>
      <li>Omics; <i>de novo</i> protein design</li>
    </ul>
  </section>

  <!-- Hobbies -->
  <section id="interests">
    <h2>Hobbies</h2>
    <ul>
      <li>Music</li>
      <li>Jogging, swimming</li>
      <li>Photographing</li>
      <li>Bakery</li>
      <li>Psychoanalysis</li>
    </ul>
  </section>

{% include footer.html %}